*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.nav-bar{
    line-height: 64px;
    background-color: #7F8FC7;
}

.nav-content {
    display: inline-flex;
    /* padding: 16px; */
    margin-left: 16px;
}

.nav-content > ol > a {
    text-decoration: none;
    text-emphasis: none;
    color: #FFF !important;
}

.nav-content ol {
    margin: 0 16px;
    color: #FFF;
    font-size: 14px;
    font-weight: 200;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, text-decoration 0.3s ease-in-out;
    text-underline-offset: 5px;
}

.nav-content ol:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

.info {
    background-image: url(assets/cidades-inteligentes-banner.png);
    background: linear-gradient(#7F8FC799, #7F8FC799), url(assets/cidades-inteligentes-banner.png);
    background-size: cover;
    height: 512px;
    background-position: center;
}

.info-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.info img{
    height: auto;
    width: 24%;
}

main {
    max-width: fit-content; 
    margin: 0 auto; 
}

.entenda {
    display: flex;
    background-color: #EDF1F7;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 32px;
    gap: 32px;
}

.texto-entenda{
    width: 55%;
    line-height: 1.8rem;
}

.texto-entenda h3, .metas h3, .cronograma h3{
    padding-bottom: 24px;
}

.youtube-video {
    width: 40%;
    margin-left: auto;
    padding-top: 24px;
}

.metas{
    background-color: #7F8FC7;
    padding: 48px 32px;
}

.metas-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    margin: 4px;
    justify-content: space-between;
}

.card {
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.card-image {
    width: 100%;
}

.cronograma {
    padding: 48px 32px;
    background-color: #E3E7F1;
}
